<?php
/**
* @var \Datum\Square\Block\Like $block
*/
?>

<h1>Product Like Ajax</h1>
<button class="btn btn-primary" id="clickAjax">Click Me</button>
<style>
    .hideme{display:none;}
</style>
<script type="text/x-magento-init">
    {
        "*": {
            "Datum_Square/js/custom": {
                "AjaxUrl": "<?php echo $this->getUrl("squarelike/like/index")?>",
            }
        }
    }
</script>
<div id='test' class="hideme">
    <select>
        <% _.each(posts, function(text,value) { %>
        <option value="<%= value %>"><%= text %></option>
        <% }) %>
    </select>
</div>

