<?php
/**
* @var \First\HelloWorld\Block\Test $block
*/
?>

<h1>This is an ajax test</h1>
<button class="btn btn-primary" id="clickAjax">Click Me</button>
<style>
    .hideme{display:none;}
</style>
<script type="text/x-magento-init">
        {
            "*": {
                "First_HelloWorld/js/custom": {
                    "AjaxUrl": "<?php echo $this->getUrl("firstworld/hello/result")?>",
                }
            }
        }
</script>
<div id='test' class="hideme">
    <select>
        <% _.each(posts, function(text,value) { %>
        <option value="<%= value %>"><%= text %></option>
        <% }) %>
    </select>
</div>

