<?php
/**
* @var \First\HelloWorld\Block\Main $block
*/
?>

<h1>First Hello World 2222</h1>
<?php echo $block->test(); ?>
<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    tr:nth-child(even) { background-color: #dddddd; }
    .post-id{width:2%} .post-name{width:30%}
</style>
<div id="testdiv">
    <a>Test anchor tag</a>
</div>
<table>
    <tr>
        <th class="post-id">Id</th>
        <th class="post-name">Name</th>
        <th>Content</th>
    </tr>
    <?php foreach ($block->getPostCollection() as $key => $post){
        echo '<tr>
                  <td>'.$post->getPostId().'</td>
                  <td>'.$post->getName().'</td>
                  <td>'.$post->getPostContent().'</td>
              </tr>';
    } ?>
</table>
<?php
$formData = [
    'divElement'       =>  '#testdiv',
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "wktestrequire": <?php /* @noEscape */ echo $serializedFormData; ?>,
            "customJs": {"test":"#testdiv"}
        }
    }
</script>