<?php
/**
* @var \First\HelloWorld\Block\Test $block
*/
?>

<h1>First Hello World 2 with withot FPC</h1>
<?php echo $block->neee(); ?>
<form class="form" action="<?php echo $this->getUrl("firstworld/hello/add")?>" method="post">
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Test Form') ?></span></legend><br>
        <div class="field required">
            <label for="number" class="label">
                <span><?php /* @escapeNotVerified */ echo __('Input') ?></span>
            </label>
            <div class="control">
                <input type="text" id="number"
                       name="number"
                       class="input-text">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>
<h1>This is an ajax test</h1>
<button class="btn btn-primary" id="clickAjax">Click Me</button>
<style>
    .hideme{display:none;}
</style>
<script type="text/x-magento-init">
        {
            "*": {
                "First_HelloWorld/js/custom": {
                    "AjaxUrl": "<?php echo $this->getUrl("firstworld/hello/result")?>",
                    "formData": "<?php echo '123456' ?>"
                }
            }
        }
</script>

<div id='formtest' class="hideme">
    <select>
        <% _.each(posts, function(text,value) { %>
        <option value="<%= value %>"><%= text %></option>
        <% }) %>
    </select>
</div>

